@import url("https://fonts.googleapis.com/css?family=Roboto:700");
body {
  font-family: "Roboto", sans-serif;
  background-color: rgb(33, 37, 43);
}

.cube_container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  margin: 0 auto;
  width: 50%;
  transition: all 10s ease;
}

.cube_container-finish{
	opacity: 0;
	pointer-events: none;
}

@-webkit-keyframes rotate {
  0% {
    transform: rotateX(-37.5deg) rotateY(45deg);
  }
  50% {
    transform: rotateX(-37.5deg) rotateY(405deg);
  }
  100% {
    transform: rotateX(-37.5deg) rotateY(405deg);
  }
}

@keyframes rotate {
  0% {
    transform: rotateX(-37.5deg) rotateY(45deg);
  }
  50% {
    transform: rotateX(-37.5deg) rotateY(405deg);
  }
  100% {
    transform: rotateX(-37.5deg) rotateY(405deg);
  }
}
.cube, .cube * {
  margin-top: 50px;
  position: absolute;
  width: 71px;
  height: 71px;
}

.cube_sides {
  -webkit-animation: rotate 3s ease infinite ;
          animation: rotate 3s ease infinite ;
  -webkit-animation-delay: 0.8s;
          animation-delay: 0.8s;
  transform-style: preserve-3d;
  transform: rotateX(-37.5deg) rotateY(45deg);
}

.cube .cube_sides * {
  box-sizing: border-box;
  background-color: rgba(64, 69, 88, 0.6);
  border: 6px solid white;
}

.cube .cube_sides .cube_top {
  -webkit-animation: top-animation 3s ease infinite;
          animation: top-animation 3s ease infinite;
  -webkit-animation-delay: 0ms;
          animation-delay: 0ms;
  transform: rotateX(90deg) translateZ(70px);
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
  transform-origin: 50% 50%;
}
@-webkit-keyframes top-animation {
  0% {
    opacity: 1;
    transform: rotateX(90deg) translateZ(70px);
  }
  20% {
    opacity: 1;
    transform: rotateX(90deg) translateZ(35px);
  }
  70% {
    opacity: 1;
    transform: rotateX(90deg) translateZ(35px);
  }
  90% {
    opacity: 1;
    transform: rotateX(90deg) translateZ(70px);
  }
  100% {
    opacity: 1;
    transform: rotateX(90deg) translateZ(70px);
  }
}
@keyframes top-animation {
  0% {
    opacity: 1;
    transform: rotateX(90deg) translateZ(70px);
  }
  20% {
    opacity: 1;
    transform: rotateX(90deg) translateZ(35px);
  }
  70% {
    opacity: 1;
    transform: rotateX(90deg) translateZ(35px);
  }
  90% {
    opacity: 1;
    transform: rotateX(90deg) translateZ(70px);
  }
  100% {
    opacity: 1;
    transform: rotateX(90deg) translateZ(70px);
  }
}
.cube .cube_sides .cube_bottom {
  -webkit-animation: bottom-animation 3s ease infinite;
          animation: bottom-animation 3s ease infinite;
  -webkit-animation-delay: 0ms;
          animation-delay: 0ms;
  transform: rotateX(-90deg) translateZ(70px);
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
  transform-origin: 50% 50%;
}
@-webkit-keyframes bottom-animation {
  0% {
    opacity: 1;
    transform: rotateX(-90deg) translateZ(70px);
  }
  20% {
    opacity: 1;
    transform: rotateX(-90deg) translateZ(35px);
  }
  70% {
    opacity: 1;
    transform: rotateX(-90deg) translateZ(35px);
  }
  90% {
    opacity: 1;
    transform: rotateX(-90deg) translateZ(70px);
  }
  100% {
    opacity: 1;
    transform: rotateX(-90deg) translateZ(70px);
  }
}
@keyframes bottom-animation {
  0% {
    opacity: 1;
    transform: rotateX(-90deg) translateZ(70px);
  }
  20% {
    opacity: 1;
    transform: rotateX(-90deg) translateZ(35px);
  }
  70% {
    opacity: 1;
    transform: rotateX(-90deg) translateZ(35px);
  }
  90% {
    opacity: 1;
    transform: rotateX(-90deg) translateZ(70px);
  }
  100% {
    opacity: 1;
    transform: rotateX(-90deg) translateZ(70px);
  }
}
.cube .cube_sides .cube_front {
  -webkit-animation: front-animation 3s ease infinite;
          animation: front-animation 3s ease infinite;
  -webkit-animation-delay: 100ms;
          animation-delay: 100ms;
  transform: rotateY(0deg) translateZ(70px);
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
  transform-origin: 50% 50%;
}
@-webkit-keyframes front-animation {
  0% {
    opacity: 1;
    transform: rotateY(0deg) translateZ(70px);
  }
  20% {
    opacity: 1;
    transform: rotateY(0deg) translateZ(35px);
  }
  70% {
    opacity: 1;
    transform: rotateY(0deg) translateZ(35px);
  }
  90% {
    opacity: 1;
    transform: rotateY(0deg) translateZ(70px);
  }
  100% {
    opacity: 1;
    transform: rotateY(0deg) translateZ(70px);
  }
}
@keyframes front-animation {
  0% {
    opacity: 1;
    transform: rotateY(0deg) translateZ(70px);
  }
  20% {
    opacity: 1;
    transform: rotateY(0deg) translateZ(35px);
  }
  70% {
    opacity: 1;
    transform: rotateY(0deg) translateZ(35px);
  }
  90% {
    opacity: 1;
    transform: rotateY(0deg) translateZ(70px);
  }
  100% {
    opacity: 1;
    transform: rotateY(0deg) translateZ(70px);
  }
}
.cube .cube_sides .cube_back {
  -webkit-animation: back-animation 3s ease infinite;
          animation: back-animation 3s ease infinite;
  -webkit-animation-delay: 100ms;
          animation-delay: 100ms;
  transform: rotateY(-180deg) translateZ(70px);
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
  transform-origin: 50% 50%;
}
@-webkit-keyframes back-animation {
  0% {
    opacity: 1;
    transform: rotateY(-180deg) translateZ(70px);
  }
  20% {
    opacity: 1;
    transform: rotateY(-180deg) translateZ(35px);
  }
  70% {
    opacity: 1;
    transform: rotateY(-180deg) translateZ(35px);
  }
  90% {
    opacity: 1;
    transform: rotateY(-180deg) translateZ(70px);
  }
  100% {
    opacity: 1;
    transform: rotateY(-180deg) translateZ(70px);
  }
}
@keyframes back-animation {
  0% {
    opacity: 1;
    transform: rotateY(-180deg) translateZ(70px);
  }
  20% {
    opacity: 1;
    transform: rotateY(-180deg) translateZ(35px);
  }
  70% {
    opacity: 1;
    transform: rotateY(-180deg) translateZ(35px);
  }
  90% {
    opacity: 1;
    transform: rotateY(-180deg) translateZ(70px);
  }
  100% {
    opacity: 1;
    transform: rotateY(-180deg) translateZ(70px);
  }
}
.cube .cube_sides .cube_left {
  -webkit-animation: left-animation 3s ease infinite;
          animation: left-animation 3s ease infinite;
  -webkit-animation-delay: 100ms;
          animation-delay: 100ms;
  transform: rotateY(-90deg) translateZ(70px);
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
  transform-origin: 50% 50%;
}
@-webkit-keyframes left-animation {
  0% {
    opacity: 1;
    transform: rotateY(-90deg) translateZ(70px);
  }
  20% {
    opacity: 1;
    transform: rotateY(-90deg) translateZ(35px);
  }
  70% {
    opacity: 1;
    transform: rotateY(-90deg) translateZ(35px);
  }
  90% {
    opacity: 1;
    transform: rotateY(-90deg) translateZ(70px);
  }
  100% {
    opacity: 1;
    transform: rotateY(-90deg) translateZ(70px);
  }
}
@keyframes left-animation {
  0% {
    opacity: 1;
    transform: rotateY(-90deg) translateZ(70px);
  }
  20% {
    opacity: 1;
    transform: rotateY(-90deg) translateZ(35px);
  }
  70% {
    opacity: 1;
    transform: rotateY(-90deg) translateZ(35px);
  }
  90% {
    opacity: 1;
    transform: rotateY(-90deg) translateZ(70px);
  }
  100% {
    opacity: 1;
    transform: rotateY(-90deg) translateZ(70px);
  }
}
.cube .cube_sides .cube_right {
  -webkit-animation: right-animation 3s ease infinite;
          animation: right-animation 3s ease infinite;
  -webkit-animation-delay: 100ms;
          animation-delay: 100ms;
  transform: rotateY(90deg) translateZ(70px);
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
  transform-origin: 50% 50%;
}
@-webkit-keyframes right-animation {
  0% {
    opacity: 1;
    transform: rotateY(90deg) translateZ(70px);
  }
  20% {
    opacity: 1;
    transform: rotateY(90deg) translateZ(35px);
  }
  70% {
    opacity: 1;
    transform: rotateY(90deg) translateZ(35px);
  }
  90% {
    opacity: 1;
    transform: rotateY(90deg) translateZ(70px);
  }
  100% {
    opacity: 1;
    transform: rotateY(90deg) translateZ(70px);
  }
}
@keyframes right-animation {
  0% {
    opacity: 1;
    transform: rotateY(90deg) translateZ(70px);
  }
  20% {
    opacity: 1;
    transform: rotateY(90deg) translateZ(35px);
  }
  70% {
    opacity: 1;
    transform: rotateY(90deg) translateZ(35px);
  }
  90% {
    opacity: 1;
    transform: rotateY(90deg) translateZ(70px);
  }
  100% {
    opacity: 1;
    transform: rotateY(90deg) translateZ(70px);
  }
}

.cube_text {
  margin-top: 10px;
  /* margin-top: 300px; */
  color: rgba(86, 93, 120, 1);
  font-size: 1.5em;
  width: 100%;
  font-weight: 600;
  text-align: center;
}
